.sidebar{
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 55px;
    width: 72px;
    z-index: 101;
    padding-top: 5px;
}

.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
background-color: rgb(235, 235, 235);}

.sidebar-link img {
height: 24px;
margin-bottom: 4px;
}

.sidebar-link div {
    font-family: roboto , arial;
    font-size: 10px;

}