
.thumbnail{
  width: 100%;
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-author , .video-stats {
 font-size: 12px;
 color: rgb(96, 96, 96);

}

.video-author{
margin-bottom: 4px;
}

.video-info-grid{
display: grid;
grid-template-columns: 50px 1fr ;
}

.profile-pic{
    width: 36px;
    border-radius:50px ;
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap: 16px ;
  row-gap: 40px;
}

@media (max-width:750px) {
  .video-grid { grid-template-columns: 1fr 1fr ; }
}


@media (min-width:751px) and ( max-width:999px ) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr ;
  }
}


@media (min-width:1000px) {
  .video-grid {grid-template-columns: 1fr 1fr 1fr 1fr ;}
}



.video-time{
  background-color: black;
  font-family: roboto, arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}

.video-link{
  color: black;
}

.channel-name-link{
  color: gray;
}

@media screen and (max-width:800px) {
  .video-title{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
  .video-author {
    font-size: 10px;
  }
  .video-stats {
    font-size: 10px;
  }
  .video-time{
    font-size: 10px;
  }
}

@media screen and (max-width:600px) {
  .video-title{
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
  }
  .video-author {
    font-size: 8px;
  }
  .video-stats {
    font-size: 8px;
  }
  .video-time{
    font-size: 8px;
  }
}